/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{padding:15px;background:#D9D7D7;font-family:tahoma;font-size:16px;}

/* GRID FRAMEWORK */
.grid-container{width:100%;}
.row{display:table;clear:both;width:100%;margin-bottom:15px;}
.row .box{margin-left:15px;}
.row div:first-child > .box{margin-left:0} /* El primer div dentro dela clase .row que le remueva el margin a la clase .box*/

/* Decorador para ver las grillas */
.resaltador .row{background-color:#FFC2C2;text-align:center;}
.resaltador .row .box{background:#FFDCDC;}








/*Primera Sección de la cebecera*/
.contenedor {
 padding:0 30px;  
}

a img {
  border: none;
}

.seccion1{  
  margin-top:15px;
  background: #BAB9B9;
  border-top:3px solid #cc3616;
  /*border-bottom:3px solid #cc3616;*/
  clear: both;
}

.seccion1 ul{
   text-align: center; 
  
}
.seccion1 li {
  text-decoration: none;
  display: inline;   
  margin: 0 auto;  /* Alinear Horizontal*/
  padding: 0px 15px;
  line-height: 150%; /*Alinear vertical*/
  color:#fff;

}

.a1, .a2, .a4 {
      
      
}
.a3 {
     
        
}
/*FIN Primera Sección de la cebecera*/





/*Segunda Sección de la cebecera*/
.seccion2{
  background: #BAB9B9; 
  overflow: hidden;
  height: 150px;
}


.izquierda {
  padding-top: 5px;
  float: left;
  text-align: center; 
  width: 14%;
}

.logo h1{
      text-decoration:none; 
    border:0;
    width : 200px;
    height : 80px;
    margin-top: 30px;
  margin-left:0px;
    padding : 0;
    
  background: url(../img/logo.png) no-repeat 0 0;
}
 
.logo h1 a {
    display : block;
    height : 80px;
    text-indent : -9999px;
}



.centro{  
   float: left;   
   text-align: center; 
   width: 59%; 
   padding-top: 11px;
}


.searchbar input{
  width: 92%;
  height: 25px;
}

.derecha {
  padding-top: 15px;
  float: right;   
  text-align: center; 
  width: 24%;
 
}

.publicar {
  background: #FF5700;
  background-image: -webkit-linear-gradient(top, #FF5700, #BF4200);
  background-image: -moz-linear-gradient(top, #FF5700, #BF4200);
  background-image: -ms-linear-gradient(top, #FF5700, #BF4200);
  background-image: -o-linear-gradient(top, #FF5700, #BF4200);
  background-image: linear-gradient(to bottom, #FF5700, #BF4200);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.publicar:hover {
  background: #FF8811;
  background-image: -webkit-linear-gradient(top, #FF8811, #BF660D);
  background-image: -moz-linear-gradient(top, #FF8811, #BF660D);
  background-image: -ms-linear-gradient(top, #FF8811, #BF660D);
  background-image: -o-linear-gradient(top, #FF8811, #BF660D);
  background-image: linear-gradient(to bottom, #FF8811, #BF660D);
  text-decoration: none;
}

/*FIN Segunda Sección de la cebecera*/






/*Tercera Sección de la cebecera*/

.seccion3{
  background: #BAB9B9; 
  padding: 0 30px;
  overflow: hidden;
}

.menucategorias{
  float: left;
   width: 48%;
   padding: 20px 0;
}

.banner {
  float:right;
  width: 48%;
   padding: 35px 0;
 
}
.banner img{
  width: 95%;
  padding:0 30px;
}



@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ca-menu{
   

    width: 250px;
    border:1px solid #00FF00;
}
.ca-menu li{
    width: 98%;
    height: 65px;
    overflow: hidden;
    position: relative;
    display: block;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 4px;
    -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.ca-menu li:last-child{
    margin-bottom: 0px;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 40px;
    color: #333;
    text-shadow: 0px 0px 1px #333;
    line-height: 90px;
    position: absolute;
    width: 90px;
    left: 20px;
    text-align: center;
    -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear; 
}
.ca-content{
    position: absolute;
    left: 120px;
    width: 370px;
    height: 60px;
    top: 20px;
}
.ca-main{
    font-size: 30px;
    -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear; 
}
.ca-sub{
    font-size: 14px;
    color: #666;
}
.ca-menu li:hover{
    background-color: #000;
}
.ca-menu li:hover .ca-icon{
    color: #f900b0;
    font-size: 120px;
    opacity: 0.2;
    left: -20px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}
.ca-menu li:hover .ca-main{
    color: #f900b0;
    opacity: 0.8;
}
.ca-menu li:hover .ca-sub{
    color: #fff;
    opacity: 0.8;
}

/*FIN Tercera Sección de la cebecera*/